.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  height: 10vh;
}

.containerRight {
}

.containerLeft {
}
